<p>
    This link directs the user to the Google Oauth consent endpoint, where they give consent 
    for this app to access their profile+email scope information from the Google People API
</p>
<div>
    <a href="/consent">Click here</a>
</div>