<div>
    <h1>Info</h1>
    <p>
        This page displays information retrieved from the Google People API using Oauth 2.0
        authentication. The scope used is profile+email.
    </p>
    <h2>First name</h2>
    {{firstname}}
    <h2>Last name</h2>
    {{lastname}}
    <h2>State</h2>
    {{state}}
</div>